In [1]:
#!pip install hvplot

In [3]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

# Import API key
from api_keys import geoapify_key

In [6]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,mataura,-46.1927,168.8643,14.62,80,100,2.31,NZ,1673898360
1,1,bonavista,48.6499,-53.1147,1.15,98,100,10.73,CA,1673898361
2,2,mamedkala,42.1677,48.1199,1.59,80,49,2.43,RU,1673898362
3,3,mahebourg,-20.4081,57.7000,26.25,78,75,5.14,MU,1673898363
4,4,calabozo,8.9242,-67.4293,35.81,25,9,2.02,VE,1673898364

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.